p {
    color: orangered;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
}
.flexItem {
    flex: 0.75;
}

.tableTitle {
    text-align: center;
    font-weight: bold;
}

.single-breakable {
    border: 2px solid black;
    border-radius: 4px;
}

@media all and (max-width: 780px) {
    .clearButton {
        display: inline-block;
    }
    .searchInput {
        width: 30%;
        display: inline-block;
    }
}

@media all and (max-width: 600px) {
    .flexContainer {
        flex-flow: column wrap;
    }
    .searchInput {
        width: 50%;
    }
}

@media all and (max-width: 360px) {
    .searchInput {
        width: 66%;
    }
}
