p {
    color: orangered;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
}
.flexItem {
    flex: 0.75;
}

.tableTitle {
    text-align: center;
    font-weight: bold;
}

.single-breakable {
    border: 2px solid black;
    border-radius: 4px;
}

.icon-center {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.icon-item, .media {
    align-self: center;
}

.navbar-form {
    margin-bottom: 0;
    border: none;
}

thead {
    font-weight: bold;
}

@media all and (max-width: 780px) {
    .clearButton {
        display: inline-block;
    }
    .searchInput {
        width: 30%;
        display: inline-block;
    }
}

@media all and (max-width: 768px) {
    .jumbo-title {
        margin-top: 38px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .searchInput {
        width: 70%;
    }
    .navbar-form {
        margin-top: 0;
    }
}

@media all and (max-width: 600px) {
    .flexContainer {
        flex-flow: column wrap;
    }
    .jumbotron {
        margin-bottom: 0;
        padding-bottom: 16px;
    }
}

@media all and (max-width: 360px) {
    .jumbo-title {
        font-size: 32px;
        margin-top: 30px;
    }
    h3 {
        margin-bottom: 0;
    }
}

@media all and (max-width: 310px) { /* support to 305px */
    .searchInput {
        width: 50%;
    }
}
